@keyframes imganim_in {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}
@keyframes imganim_out {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes alertanim {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
body {
    font-family: Helvetica, Arial;
    margin: 0;
}
.block-img {
    position: absolute;
    background-image: url("./img/block-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    background-color: rgba(255,255,255,0.6);
    height: 60vh;
    width: 100%;
    z-index: -1;
    filter: blur(8px);
}
#particles {
    position: absolute;
    z-index: -1;
    height: 60vh;
    width: 100%;
}
.block-main {
    height: 60vh;
    clear: both;
}
#card {
    float: left;
    width: 31%;
    margin: 1.15%;
    background-color: rgba(173, 216, 230, .9);
    text-align: center;
    border-radius: 1px;
}
/* .admin_panel {
    position: absolute;
    width: 31%;
    padding: 2%;
    top: 21%;
    left: 33%;
    float: left;
    background-color: rgba(173, 216, 230, .9);
    text-align: center;
    border-radius: 8px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
} */
.admin_panel h1 {
    color: red
}
#contact_form, .admin_panel {
    position: absolute;
    width: 31%;
    padding: 2%;
    top: 21%;
    left: 33%;
    float: left;
    background-color: rgba(173, 216, 230, .9);
    text-align: center;
    border-radius: 8px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
}
#alert_form {
    position: absolute;
    width: 31%;
    padding: 2%;
    top: 21%;
    left: 33%;
    float: left;
    background-color: rgba(173, 216, 230, .9);
    text-align: center;
    border-radius: 8px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    animation: alertanim 2s ease-in-out;
}
#alert_form p, .admin_panel p {
    color: darksalmon;
    text-shadow: 2px 2px 4px rgba(233, 150, 122, .2);
}
#contact_form textarea, #contact_form input, .admin_panel input {
    font-family: Verdana;
    max-width: 30vw;
    border-radius: 4px;
    border: none;
    resize: none;
    border-bottom: 2px solid lightcoral;
}
#card p#name {
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    margin: 0;
}
#card p#title {
    font-size: 30px;
    color: darksalmon;
    text-shadow: 2px 2px 4px rgba(233, 150, 122, .4);
    box-shadow: 0 4px 3px rgba(0, 0, 0, .1);
    margin: 5%;
}
#card button, #contact_form button, .admin_panel button {
    /* overflow: none; */
    text-decoration: none;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    color: lightseagreen;
    text-shadow: 2px 2px 4px rgba(32, 178, 170, .25);
    border-bottom: 2px solid lightcoral;
}
#card button:hover {
    font-weight: bold;
}
#card img {
    width: 400px;
    height: 310px;
    margin-inline: auto;
    display: block;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    animation: imganim_out 1s forwards;
}
#card img:hover {
    animation: imganim_in 1s forwards;
}
.banner, .footer {
    text-align: center;
    background-color: rgba(173, 216, 230, .5);
    padding: 10px;
}
#navbar {
    float: right;
}
.banner {
    overflow: hidden;
}
.footer {
    clear: both;
}
#navbar ul li {
    list-style: none;
    display: inline-block;
    text-decoration: none;
    margin: 0 20px;
}
#navbar ul li a[id=admin] {
    color: #ff0000;
    text-shadow: 1px 1px 4px rgba(255, 0, 0, .2);
}
#navbar ul li:hover {
    text-shadow: 0.2px 0.2px lightseagreen;
    border-bottom: 2px solid lightcoral;
}
#navbar ul li a {
    text-decoration: none;
    color: #000;
}